.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.workSelected{
    height: 500px;
    text-align: center;
    position: relative;
    opacity:0;
    display:none;
    transition:all 1s linear;
}
.workSelected>div{
    top: 50%;
    position: absolute;
    font-size: -webkit-xxx-large;
    font-weight: 300;
    margin: auto;
    width: 100%;
    text-align: center;    
}
.workList{
    overflow:hidden;
    transition:all 0.8s linear;
    opacity:1;
}
.ex{
    background-color: white;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    position: absolute!important;
    top: 0;
    left: 0; 
    opacity:1;
    transition: all 1s linear;
    box-shadow: 0px 0px 25px white;
}

footer{
    min-height:200px;
    background: #003448;
    color:white;
}

.card-background{
    background-size: 100%!important;
    height: 227px;
    width: 348px;
}

.card-background>div{
    height: 100%;
    background: #ffffffd6;    
    display:none;
}
.card-background>div>div:nth-child(1){
    background: white;
    padding: 5px 10px;
    font-size: 12px;
}
.card-background>div>div:nth-child(2){
    margin: auto!important;
    text-align: center;
    margin-top: 80px!important;
}

.card-background:hover > div{display:block;}


label.btn{cursor:pointer;}
body{background:white;}
header{
    background:#002348;
    color:white;
    height:500px;
    position:relative;
    overflow:hidden;
}
header>.e{
    background: #FFF1;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    bottom: -100px;
    left: -50px;
    position: absolute;			
    opacity:0;
    transition: opacity 1s linear;
    z-index:1;
}
header *:not(.e){
    z-index:2;
    position:relative;
}
.myPhoto{
    background: url('https://pbs.twimg.com/profile_images/859128840714629120/7TYotolN_400x400.jpg');
    height: 250px;
    width: 250px;
    background-position: center;
    background-size: cover;		
    margin:auto;
    top:64px;
    border-width:10px;
    border-color: blueviolet;
    border-style: outset;			
}		
.navbar-fixed{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}


footer a{color:white;}
footer a>i{padding-right:5px;}

hr{
    border-top: transparent!important;
    margin-bottom: 3rem!important;
    margin-top: 1.5rem!important;
}
hr::after {
    content: " ";
    background: #e5e5e5;
    display: block;
    height: 1px;
    width: 20%;
    position: absolute;
    right: 29.5%;
    margin-top: 9px;
    transform: rotate(-5deg);
}
hr::before {
    content: " ";
    background: #e5e5e5;
    display: block;
    height: 1px;
    width: 20%;
    position: absolute;
    left: 29.5%;
    margin-top: 9px;
    transform: rotate(5deg);
}
section>h1{color: #1a395b;}
.mySocials{background-color: #0000004d;color: #5cb85c;position: absolute!important;margin-top: -15px;}

.fab{vertical-align: middle;}
.skillList,.row{max-width:100%;}
.skillName{
    font-size: 1.4em;
    color: dodgerblue;
    font-weight: bold;
    border-left: 1px solid lightgray;
    border-left-style: dashed;    
}
.skillIcon>p{margin-top: 9px;}
@media (max-width: 768px) {
    .display-4{font-size: 1.5rem!important;font-weight: 300!important;line-height: 1.2!important;}
    footer{padding-left:15px;}
    .card{margin:auto!important;}
    .contact{order:-1}
    section.container{padding:0px!important;}
    .mySocials{width: -webkit-fill-available!important;position:relative!important;margin-top:15px;text-align:center;}
    .workSelected{height:250px;}
    .workSelected>div{font-size:x-large;}
    .workList.row,.workList.row>*{margin:0!important;padding:0!important;}
    .card-background{width:100%;}
}